<div class="container">
  <div class="row">
    <div class="p-2 col-md-12">
      <div class="instructions">
        <span>{{instructions.tips}}</span>
        <div class="tasks">
          <span>{{instructions.t1}}</span>
          <br>
          <span>{{instructions.t2}}</span>
          <br>
          <span>{{instructions.t3}}</span>
        </div>
        <div class="extras">
          <span>{{instructions.extra}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cont">
  <div class="login-container">
    <form [formGroup]="signupForm" (ngSubmit)="onLogin()">
      <div class="group">
        <label>Email</label>
        <input 
          type="text"
          formControlName="email"
          class="input" />
          <span 
            *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched "
            class="help-block">Please enter a valid email!</span>
      </div>

      <div class="group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          class="input"/>
          <span
          *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
          class="help-block">Please enter a valid password!</span>
          
      </div>

      <div class="group button-container">
        <span
        *ngIf="!signupForm.valid && signupForm.touched"
        class="help-block">Please enter valid data!</span>
        <button class="btn btn-primary" [disabled]="!signupForm.valid" >Login</button>
      </div>
    </form>
  </div>
</div>
