<div class="container">
  <div class="row">
    <div class="p-2 col-md-12">
      <div class="instructions">
        <span>{{instructions.tips}}</span>
        <div class="tasks">
          <span>{{instructions.t1}}</span>
          <br>
          <span>{{instructions.t2}}</span>
          <br>
          <span>{{instructions.t3}}</span>
          <ul>
            <li *ngFor="let column of instructions.t3_c">{{column}}</li>
          </ul>
          <span>{{instructions.t4}}</span>
          <br>
          <span>{{instructions.t5}}</span>
          <br>
          <span>{{instructions.t6}}</span>
          <br>
          <span>{{instructions.t7}}</span>
        </div>
        <div class="extras">
          <span>{{instructions.extra}}</span>
        </div>
        <div class="card mt-4">
          <h4 class="card-header">You're logged in with Angular 9 & Basic HTTP Authentication!!</h4>
          <div class="card-body">
              <h6>Users from secure api end point</h6>
              <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
              <ul *ngIf="users">
                  <li *ngFor="let user of users">{{user.email}} {{user.password}}</li>
              </ul>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
 <div *ngFor="let bookList of booksList">
  <p>{{bookList.code}}</p>
  </div>
</div>
