<div class="container">
  <div class="row">
    <div class="p-2 col-md-12">
      <div class="instructions">
        <span>{{ instructions.tips }}</span>
        <div class="tasks">
          <span>{{ instructions.t1 }}</span>
          <br />
          <span>{{ instructions.t2 }}</span>
          <br />
          <span>{{ instructions.t3 }}</span>
          <ul>
            <li *ngFor="let column of instructions.t3_c">{{ column }}</li>
          </ul>
          <span>{{ instructions.t4 }}</span>
          <br />
          <span>{{ instructions.t5 }}</span>
          <br />
          <span>{{ instructions.t6 }}</span>
          <br />
          <span>{{ instructions.t7 }}</span>
        </div>
        <div class="extras">
          <span>{{ instructions.extra }}</span>
        </div>
      </div>
    </div>
  </div>
  <header>
      
    <div class="box box-1"><h1>Books</h1></div>
       
    <div class="box box-2">
      <button  (click)="toggleShow()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </header>
  <!-- start of form modal-->
  <div *ngIf="isShown" class="container" id="modal" role="dialog">
  <div class="modal-header">
    <h4 class="modal-title">Add a new book</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal">
    </button>
  </div>

  <div class="modal-body">
  <form [formGroup]="bookPopupForm" (ngSubmit)="onSubmit()">
  <div class="group">
      <label>Code</label>
      <input
        type="number"
        formControlName="code"
        class="form-control" />
        <span
        *ngIf="!bookPopupForm.get('code').valid && bookPopupForm.get('code').touched "
          class="help-block">Please enter a valid code!</span>
    </div>

    <div class="group">
      <label>Title</label>
      <input
        type="text"
        formControlName="title"
        class="form-control"/>
        <span
        *ngIf="!bookPopupForm.get('title').valid && bookPopupForm.get('title').touched"
        class="help-block">Please enter  valid data!</span>
    </div>

    <div class="group">
      <label>Author</label>
      <input
        type="text"
        formControlName="author"
        class="form-control"/>
        <span
        *ngIf="!bookPopupForm.get('author').valid && bookPopupForm.get('author').touched"
        class="help-block">Please enter  valid data!</span>
    </div>

    <div class="group">
      <label>Published</label>
      <input
        type="date"
        formControlName="published"
        class="form-control"/>
        <span
        *ngIf="!bookPopupForm.get('published').valid && bookPopupForm.get('published').touched"
        class="help-block">Please enter a valid date!</span>
    </div>

    <div class="group">
      <label>Pages</label>
      <input
        type="text"
        formControlName="pages"
        class="form-control"/>
        <span
        *ngIf="!bookPopupForm.get('pages').valid && bookPopupForm.get('pages').touched"
        class="help-block">Please enter a valid number!</span>
    </div>

    <div class="group">
      <label>Website</label>
      <input
        type="text"
        formControlName="website"
        class="form-control"/>
        <span
        *ngIf="!bookPopupForm.get('website').valid && bookPopupForm.get('website').touched"
        class="help-block">Please enter a valid url!</span>
    </div>

    <div class="group button-container">
      <span
      *ngIf="!bookPopupForm.valid && bookPopupForm.touched"
      class="help-block">Please enter valid data!</span>
      <button class="btn btn-primary" [disabled]="!bookPopupForm.valid" >Login</button>
    </div>

  </form>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" >
      Close Clicked
    </button>
  </div>
  <!--end of form modal-->
</div>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th id="align-center">Code</th>
        <th id="align-left">Title</th>
        <th id="align-left">Author</th>
        <th id="align-center">Published</th>
        <th id="align-center">Pages</th>
        <th id="align-center">Website</th>
      </tr>
    </thead>

    <tbody>
      <tr (click)="onClick()" *ngFor="let bookList of booksList">
        <td>{{ bookList.code }}</td>
        <td>{{ bookList.title }}</td>
        <td>{{ bookList.author }}</td>
        <td>{{ bookList.published | date: "dd/MM/yyyy" }}</td>
        <td *ngIf="bookList.pages > 300; then thenBlock; else elseBlock"></td>
        <ng-template #thenBlock>
          <i ngbTooltip="{{ bookList.pages }}" class="fas fa-file"></i
        ></ng-template>
        <ng-template #elseBlock>{{ bookList.pages }}</ng-template>
        <td>
          <a [attr.href]="bookList.website">{{ bookList.website }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
